.particulas {
  position: absolute;
  z-index: 1;
}

.principal {
  padding-top: 80px;
  background: transparent;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.contenedor-texto {
  padding: 10%;
}

.contenedor-texto h1 {
  font-size: 4em;
  font-weight: bolder;
  color: white;
  text-shadow: 4px 5px 3px #0a0056;
}


.contenedor-texto{
  animation: aparecer;
  animation-duration: 2s;
}

@keyframes aparecer {
  from{
    opacity: 0;
    left: -100px
  }
  to{
    opacity: 1;
    left: 0px;
  }
 }
 
