<div class="contenedor">
    <div class="principal">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
			<div class="carousel-inner">
			  <div class="carousel-item elemento-carousel active">
                <img class="d-block w-100" src="../../assets/principal1.jpeg" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Somo analíticos</h5>
                    <p>Analizamos las opciones y te ofrecemos la mejor solución en TI para tu empresa</p>
                </div>
			  </div>
			  <div class="carousel-item elemento-carousel">
                <img class="d-block w-100" src="./../assets/principal2.jpeg" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Soluciones a la medida</h5>
                    <p>Nuestras desarrollos son compatibles con cualquier dispositivo movil</p>
                </div>
			  </div>
			  <div class="carousel-item elemento-carousel">
                <img class="d-block w-100" src="./../assets/principal3.jpeg" alt="Third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h5>Experiencia</h5>
                    <p>Hemos desarrollado desde páginas web hasta sistemas completos para el manejo de diferetens tipos de negocios</p>
                </div>
			  </div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
			  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			  <span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
			  <span class="carousel-control-next-icon" aria-hidden="true"></span>
			  <span class="sr-only">Next</span>
			</a>
		  </div>
    </div>
</div>