.principal {
  padding-top: 80px;
  background: #610f0f;
  box-shadow: grey 9px 10px 11px;
  /* background-image: linear-gradient(#000070, #00009d); */
  width: 100%;
  border-radius: 19px;
}

.contenedor{
  padding-left: 1%;
  padding-right: 1%;
  margin-top: -100px;
  margin-bottom: 100px;
  z-index: 30;
}
